<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533791650680-vjsvl24ta8ik38em99ekpifccnvaomtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533791650680-vjsvl24ta8ik38em99ekpifccnvaomtr</string>
	<key>API_KEY</key>
	<string>AIzaSyD9TOb-Ne3IcLBSWZuow2GNpalCdyam8lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>533791650680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.senseicoder.app.chatOwn</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f377f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f377f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533791650680:ios:356cb4db060048bfce0e8d</string>
</dict>
</plist>